/* ################ TABLE VIEW ################ */
/* line 3, ../../scss/modules/tableview.scss */
.table-view {
  border-top: 1px solid #CCC;
  margin: 0;
  padding: 0; }

/* line 9, ../../scss/modules/tableview.scss */
.table-view > * {
  overflow: hidden;
  min-height: 3em;
  border: 1px solid #CCC;
  border-top: 0;
  border-right: 0;
  margin: 0;
  padding: 0; }

/* line 28, ../../scss/modules/tableview.scss */
.table-view .mod-10,
.table-view .mod-20,
.table-view .mod-30,
.table-view .mod-40,
.table-view .mod-50,
.table-view .mod-60,
.table-view .mod-70,
.table-view .mod-80,
.table-view .mod-90,
.table-view .mod-100 {
  float: left;
  margin: 0;
  padding: 0;
  vertical-align: top;
  min-height: 3em;
  text-align: center;
  border-right: 1px solid #CCC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 41, ../../scss/modules/tableview.scss */
.table-view .mod-10 {
  width: 10%; }

/* line 42, ../../scss/modules/tableview.scss */
.table-view .mod-20 {
  width: 20%; }

/* line 43, ../../scss/modules/tableview.scss */
.table-view .mod-30 {
  width: 30%; }

/* line 44, ../../scss/modules/tableview.scss */
.table-view .mod-40 {
  width: 40%; }

/* line 45, ../../scss/modules/tableview.scss */
.table-view .mod-50 {
  width: 50%; }

/* line 46, ../../scss/modules/tableview.scss */
.table-view .mod-60 {
  width: 60%; }

/* line 47, ../../scss/modules/tableview.scss */
.table-view .mod-70 {
  width: 70%; }

/* line 48, ../../scss/modules/tableview.scss */
.table-view .mod-80 {
  width: 80%; }

/* line 49, ../../scss/modules/tableview.scss */
.table-view .mod-90 {
  width: 90%; }

/* line 50, ../../scss/modules/tableview.scss */
.table-view .mod-100 {
  width: 100%; }

/* line 52, ../../scss/modules/tableview.scss */
.table-view .selected {
  background: #E8E8E8; }

/* line 56, ../../scss/modules/tableview.scss */
.table-view input[type=text] {
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0; }
