/* ################ TABS ################ */
/* line 3, ../../scss/modules/tabs.scss */
.tabs {
  position: relative; }

/* line 7, ../../scss/modules/tabs.scss */
.tab-strip {
  margin: 0; }

/* line 11, ../../scss/modules/tabs.scss */
.tab-strip li {
  display: inline-block;
  margin: 0;
  position: relative;
  z-index: 10; }

/* line 18, ../../scss/modules/tabs.scss */
.tab-strip a {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #000;
  background: #DDD;
  text-decoration: none;
  /* TL TR BR BL */
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

/* line 31, ../../scss/modules/tabs.scss */
.tab-strip a:hover {
  background: #FFF; }

/* line 35, ../../scss/modules/tabs.scss */
.tab-strip a.active {
  border-bottom-color: #FFF;
  background: #FFF; }

/* line 40, ../../scss/modules/tabs.scss */
.tab-panel {
  border: 1px solid #000;
  position: relative;
  top: -1px;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px; }

/* line 51, ../../scss/modules/tabs.scss */
.js .tab-panel {
  display: none; }

/* line 55, ../../scss/modules/tabs.scss */
.tab-panel.active {
  display: block; }
