/* line 1, ../../scss/base/styles.scss */
img, object {
  max-width: 100%; }

/* ################ CONTENT LAYOUT ################ */
/* line 7, ../../scss/base/styles.scss */
.entry-list {
  border: 1px solid #CCC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 15, ../../scss/base/styles.scss */
.entry {
  border-top: 1px solid #CCC;
  padding: 0 10px; }

/* line 20, ../../scss/base/styles.scss */
.entry:first-child {
  border: 0; }

/* line 24, ../../scss/base/styles.scss */
.entry-left-img img {
  float: left; }

/* line 27, ../../scss/base/styles.scss */
.entry-right-img img {
  float: right; }

/* ========== COMMENT LIST ========== */
