/* ################ SLIDESHOW ################ */

.slideshow {
	background: #000;
	position: relative;
	height: 480px;
	overflow: hidden;
}

.slides {
	margin: 0;
	
	.no-js & li {
		float: left;
		margin: 0 10px 10px 0;
		list-style: none;
	}
}

.pf-slideshow {
	.slides {
		li {
			list-style: none;
			position: absolute;
			left: 0;
			right: 0;
			display: none;

			&:first-child {
				display: block;
			}
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}
}


.nav-strip {
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 80px;
	background: rgba(0,0,0,0.5);
	text-align: center;

	li {
		list-style: none;
		display: inline;
	}

	a {}
}

.index-strip {

	a {
		font-size: 48px;
		line-height: 80px;
		color: #CCC;
		text-decoration: none;
		margin: 0 5px;
	}

	&:hover,
	&.active {
		color: #999;
	}
	
}

.thumbnail-strip {

	a {
		overflow: hidden;
		display: inline-block;
		width: 80px;
		height: 60px;
		margin: 10px 5px;
/*		vertical-align: middle;*/
		padding: 1px;
	}

	&:hover,
	&.active {
		border: 1px solid #DDD;
		padding: 0;
	}

	img {
	}
	
}

.prev,
.next {
	position: absolute;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	height: 30%;
	width: 80px;
	background: #CCC;
	top: 35%;

	&:after,
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		top: 45px;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
	}

	&:hover,
	&:hover {
		background: #333;
	}

	&.disabled,
	&.disabled {
		background: #666 !important;
	}
}

.prev {
	left: 0;
	-webkit-border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;

	&:after {
		border-right: 30px solid #666;
		left: 20px;
	}

	&:hover:after {
		border-right-color: #CCC;
	}

	&.disabled:after {
		border-right-color: #333 !important;
	}
}

.next {
	right: 0;
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;

	&:after {
		border-left: 30px solid #666;
		right: 20px;
	}

	&:hover:after {
		border-left-color: #CCC;
	}

	&.disabled:after {
		border-left-color: #333 !important;
	}
}

.pf-slideshow .prev,
.pf-slideshow .next,
.pf-slideshow .nav-strip {
	/*opacity: 0;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;*/
}

.pf-slideshow:hover .prev,
.pf-slideshow:hover .next,
.pf-slideshow:hover .nav-strip {
	opacity: 1;
}