/* ################ TABLE VIEW ################ */

.table-view {
	border-top: 1px solid #CCC;
	margin: 0;
	padding: 0;

	> * {
		overflow: hidden;
		min-height: 3em;
		border: 1px solid #CCC;
		border-top: 0;
		border-right: 0;
		margin: 0;
		padding: 0;
	}

	.mod-10,
	.mod-20,
	.mod-30,
	.mod-40,
	.mod-50,
	.mod-60,
	.mod-70,
	.mod-80,
	.mod-90,
	.mod-100 {
		float: left;
		margin: 0;
		padding: 0;
		vertical-align: top;
		min-height: 3em;
		text-align: center;
		border-right: 1px solid #CCC;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.mod-10 { width: 10%; }
	.mod-20 { width: 20%; }
	.mod-30 { width: 30%; }
	.mod-40 { width: 40%; }
	.mod-50 { width: 50%; }
	.mod-60 { width: 60%; }
	.mod-70 { width: 70%; }
	.mod-80 { width: 80%; }
	.mod-90 { width: 90%; }
	.mod-100 { width: 100%; }

	.selected {
		background: #E8E8E8;
	}

	input[type=text] {
		border: 0;
		background: transparent;
		margin: 0;
		padding: 0;
	}
}