/* ################ SLIDESHOW ################ */

.slideshow {}

.slides {
	margin: 0;
}

.no-js .slides li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
}

.controls {}

.controls li {}

.controls a {}

.controls .prev {}

.controls .next {}
