/* ################ UTILITY CLASSES ################ */

/* ========== MORELINK ========== */
.more {}
	
.more:after {
	content: '\00A0>';
}

/* ========== MICRO CLEARFIX ========== */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}