/* ################ UTILITY CLASSES ################ */

.pf-state-disabled,
.pf-state-disabled:hover,
.pf-state-disabled:active,
.pf-state-disabled:focus {
	color: #AAA !important;
	text-decoration: none !important;
	cursor: default;
}

.left-align {
	text-align: left !important;
}

.center-align {
	text-align: center !important;
}

.right-align {
	text-align: right !important;
}

.clear {
	clear: both;
}

/* ################ WIREFRAME ################ */

.wf {
	border: 1px solid #999;
	
	+ .wf {
		border-top: 0;
	}
}

.mod {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

/* ========== MORELINK ========== */
.more {
	&:after {
		content: '\00A0>';
	}
}
	
/* ========== MICRO CLEARFIX ========== */
/* For modern browsers */
.cf {
	&:before,
	&:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}
	
	/* For IE 6/7 (trigger hasLayout) */
    zoom:1;
}