.col {
	float: left;
}

.two-column {
	nav.col,
	aside.col {
		width: 20%;
	}
	
	article.col {
		width: 80%;
	}
	
	
	nav:not(.col) {
		margin: 2em 0;

		&.wf {
			margin: 0;
			padding: 2em 0;
		}
		
		ul {
			margin-left: 0;
			margin-bottom: 0;
		}
		
		li {
			line-height: 18px;
			font-size: 18px;
			display: inline;
			margin-left: 10px;
			padding-left: 13px;
			border-left: 1px solid #666;
			
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border-left: 0;
			}
		}
		
		a {
			color: #06F;
			text-decoration: none;
			
			&:hover,
			&:focus {
				color: #C00;
			}
		}
	}
	
	article {
		padding: 1.5em;
		
		*:first-child {
			margin-top: 0;
		}
	}
	
	footer {
		clear: both;
	}
}