/* ################ DIALOG ################ */

#overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}

#dialog {
	position: absolute;
	z-index: 10000;
	background: #FFF;
	left: 50%;
	min-height: 200px;

	.close {
		position: absolute;
		top: 8px;
		right: 6px;
		font-family: sans-serif;
		text-decoration: none;
		color: #999;
		width: 18px;
		height: 18px;
		font-size: 18px;
		line-height: 18px;
	}
}

