@import 'compass/css3';
/* ################ TABS ################ */

.tabs {
	position: relative;
}

.tab-strip {
	margin: 0;

	li {
		display: inline-block;
		margin: 0;
		position: relative;
		z-index: 10;
	}

	a {
		display: inline-block;
		padding: 3px 10px;
		border: 1px solid #000;
		background: #DDD;
		text-decoration: none;
		@include border-radius(5px 5px 0 0);

		&:hover {
			background: #FFF;
		}

		&.active {
			border-bottom-color: #FFF;
			background: #FFF;
		}
	}
}

.tab-panel {
	border: 1px solid #000;
	position: relative;
	top: -1px;
	clear: both;
	@include box-sizing(border-box);
	padding: 0 10px;

	.js & {
		display: none;
	}

}
.js .pf-state-active {
	display: block;
}
